@import "../../../assets/colors";
@import "../../../assets/fonts";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 15px;
  padding-top: 16px;
  padding-bottom: 10px;
  padding-left: 14px;
  border-left: solid 4px $BLUE_500;
  //min-width: 330px;
  //max-width: 500px;
}

.title {
  //margin: 20px 10px;
  color: $BLUE_500;
  margin: 0;
  padding: 0;
}

.input {
  width: 100%;
  //max-width: 400px;
  min-width: 80px;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;

  border: none;
  outline: none;

  //padding: 4px 4px;
  //border-radius: 20px;

  &:focus {
    //border-bottom: solid 2px black;
    //transition-property: border-bottom;
    transition-duration: 0.3s;
  }
}

.active {
  border-color: $BLUE_500;
  color: $BLUE_500;
}

.inactive {
  border-color: $BLUE_300;
  color: $BLUE_300;
}

.error {
  border-color: $RED_500;
  color: $RED_500;
}

.not_editable {
  border-color: $GRAY_400;
  color: $GRAY_500;
  cursor: default;
}

.inputWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: 85vw;

  //width: 100%;
  align-items: flex-end;
  justify-content: flex-start;
}

.arrayButton {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  font-weight: bold;
  font-size: 32px;

  //margin-top: 30px;
  //min-width: 80px;
  //max-width: 500px;
  //width: 100%;
  //margin-top: 4px;
  height: 42px;
  width: 42px;
  border-width: 4px;
  border-style: solid;
  //padding: 3px 10px;
  //transition-duration: 0.3s;
  //transition-property: all;
  background-color: white;

  margin-right: 14px;
}

@media (max-width: 600px) {
  .arrayButton {
    margin-right: 4px;
  }
}

.addButton {
  color: $BLUE_500;
  border-color: $BLUE_500;
}

.removeButton {
  color: $RED_500;
  border-color: $RED_500;
}

.inactiveButton {
  color: $GRAY_300;
  border-color: $GRAY_300;
  cursor: default;
}